<%= live_render @socket, PicselloWeb.LiveModal, id: "live_modal" %>
<main class="bg-gray-100">
   <%= flash(@flash) %>
   <section class="flex">
   <div class="flex flex-col h-screen">
  <div class="flex root">
    <%= live_component PicselloWeb.GalleryLive.Shared.SideNavComponent, id: "side-nave", arrow_show: "photos", album_dropdown_show: true %>

     <%= @inner_content %>
     </div>
     </div>
   </section>
   <footer>
      
   </footer>
</main>
