<main role="main">
  <%= [:error, :info] |> Enum.map(fn key -> %>
    <% flash = get_flash(@conn, key) %>
    <%= if flash do %>
      <p class="alert alert-<%= key %>" role="alert"><%= flash %></p>
    <% end %>
  <% end) %>
  <%= @inner_content %>
</main>
