<%= live_render @socket, PicselloWeb.LiveModal, id: "live_modal" %>
<main role="main">
  <%= flash(@flash) %>
  <%= @inner_content %>
  <%= if @current_user do %>
    <.sticky_upload socket={@socket} current_user={@current_user} />
  <% end %>
</main>
