<main role="main" class="client-app min-h-screen">
  <%= flash(@flash) %>

  <%= @inner_content %>

  <%= live_render @socket, PicselloWeb.LiveModal, id: "live_modal" %>

  <footer class="mt-auto text-white footer-cookie">
    <hr class="border-base-300" />
    <div class="center-container p-6">
      <.footer_nav gallery={@gallery} />
    </div>
  </footer>

</main>
