<main role="main">
  <%= [:error, :info] |> Enum.map(fn key -> %>
    <% flash = live_flash(@flash, key) %>
    <%= if flash do %>
      <p class="alert alert-<%= key %>" role="alert" phx-click="lv:clear-flash" phx-value-key="<%= key %>"><%= flash %></p>
    <% end %>
  <% end) %>

  <%= @inner_content %>
</main>
