<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= case Application.get_env(:picsello, :google_site_verification) do %>
      <% nil -> %>
      <% content -> %> <meta name="google-site-verification" content="<%= content %>" />
    <% end %>
    <%= csrf_meta_tag() %>
    <%= case assigns[:page_title] do %>
      <% nil -> %> <%= live_title_tag "Picsello" %>
      <% title -> %> <%= live_title_tag title, suffix: " · Picsello" %>
    <% end %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
