<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="application-name" content="Picsello"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content={Routes.static_path(@conn,"/mstile-144x144.png")} />
    <meta name="msapplication-square70x70logo" content={Routes.static_path(@conn,"/mstile-70x70.png")} />
    <meta name="msapplication-square150x150logo" content={Routes.static_path(@conn,"/mstile-150x150.png")} />
    <meta name="msapplication-wide310x150logo" content={Routes.static_path(@conn,"/mstile-310x150.png")} />
    <meta name="msapplication-square310x310logo" content={Routes.static_path(@conn,"/mstile-310x310.png")} />
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes" />
    <%= for {name, content} <- meta_tags(assigns[:meta_attrs]) do %>
      <meta name={name} content={content} />
    <% end %>
    <%= csrf_meta_tag() %>
    <%= case assigns[:page_title] do %>
      <% nil -> %> <%= live_title_tag "Picsello" %>
      <% title -> %> <%= live_title_tag title, suffix: " · Picsello" %>
    <% end %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn,"/css/app.css")}/>
    <link rel="icon" type="image/png" href={Routes.static_path(@conn,"/favicon-196x196.png")} sizes="196x196" />
    <link rel="icon" type="image/png" href={Routes.static_path(@conn,"/favicon-128.png")} sizes="128x128" />
    <link rel="icon" type="image/png" href={Routes.static_path(@conn,"/favicon-96x96.png")} sizes="96x96" />
    <link rel="icon" type="image/png" sizes="32x32" href={Routes.static_path(@conn,"/favicon-32x32.png")}>
    <link rel="icon" type="image/png" sizes="16x16" href={Routes.static_path(@conn,"/favicon-16x16.png")}>
    <link rel="apple-touch-icon" sizes="57x57" href={Routes.static_path(@conn,"/apple-touch-icon-57x57.png")} />
    <link rel="apple-touch-icon" sizes="114x114" href={Routes.static_path(@conn,"/apple-touch-icon-114x114.png")} />
    <link rel="apple-touch-icon" sizes="72x72" href={Routes.static_path(@conn,"/apple-touch-icon-72x72.png")} />
    <link rel="apple-touch-icon" sizes="144x144" href={Routes.static_path(@conn,"/apple-touch-icon-144x144.png")} />
    <link rel="apple-touch-icon" sizes="60x60" href={Routes.static_path(@conn,"/apple-touch-icon-60x60.png")} />
    <link rel="apple-touch-icon" sizes="120x120" href={Routes.static_path(@conn,"/apple-touch-icon-120x120.png")} />
    <link rel="apple-touch-icon" sizes="76x76" href={Routes.static_path(@conn,"/apple-touch-icon-76x76.png")} />
    <link rel="apple-touch-icon" sizes="152x152" href={Routes.static_path(@conn,"/apple-touch-icon-152x152.png")} />
    <link rel="manifest" href={Routes.static_path(@conn,"/manifest.json")}>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/js/app.js")}></script>
    <%= if Application.get_env(:picsello, :google_analytics_api_key) do %>
    <PicselloWeb.LayoutView.google_analytics gaId={Application.get_env(:picsello, :google_analytics_api_key)} />
    <% end %>
    <%= if Application.get_env(:picsello, :google_tag_manager_api_key) do %>
    <PicselloWeb.LayoutView.google_tag_manager gtmId={Application.get_env(:picsello, :google_tag_manager_api_key)} />
    <% end %>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
