<div class="p-8">
  <h1 class="title">Reset your password</h1>

  <%= f = form_for @changeset, "#", phx_change: :validate, phx_submit: :submit %>
    <%= live_component PicselloWeb.PasswordFieldComponent, f: f, label: "New password", id: :reset_password %>

    <div class="text-center mt-5">
      <%= submit "Reset Password", class: "px-8 btn-primary mx-1", disabled: !@changeset.valid?, phx_disable_with: "Saving..." %>
    </div>
  </form>
</div>
