<div class="bg-gray-100 rounded-2xl mt-4 p-6 flex flex-col items-center">
  <div>Shoot <%= @shoot_number %></div>
  <a href="#" phx-click="toggle" phx-target="<%= @myself %>" class="link">Add shoot details</a>
</div>
