<button title="Edit shoot" type="button" phx-click="edit-shoot-details" phx-target="<%= @myself %>" class="flex items-center justify-between w-full px-6 py-5 mb-3 text-left bg-gray-100 rounded-lg">
  <%= @shoot.name %>
  <%= icon_tag(@socket, "forth", class: "stroke-current h-6 w-6") %>
</button>
