<%= if @proposal do %>
  <h1 class="px-8 py-4 text-2xl font-bold text-white bg-black mt-7"><%= @organization.name %></h1>

  <div class="px-8 pt-4">
    <h2 class="text-xl font-semibold"><%= Job.name @job %> Shoot</h2>
    <h3 class="text-lg">Created: <%= Calendar.strftime(@proposal.inserted_at, "%b %d, %Y") %></h3>

    <p class="mt-4">
      Below are details for the <%= Job.name @job %> Shoot. Please review and approve or sign where needed.
    </p>
  </div>
<% end %>
