@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./components/buttons.css";
@import "./components/clientGallery.css";
@import "./components/shoppingCart.css";
@import "./components/forms.css";
@import "./components/typography.css";
@import "./components/uploadPopup.css";
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";

html {
  @apply text-base-300 bg-white text-13px sm:text-16px;
}

// Google Maps autocomplete overrides
.pac-container {
  top: 0px !important;
  left: 0px !important;
}

.pac-item {
  @apply p-2;
}

.ql-snow {
  &.ql-toolbar button:hover {
    @apply text-blue-planning-200 bg-blue-planning-100;

    .ql-stroke {
      @apply stroke-current;
    }

    .ql-fill {
      @apply fill-current;
    }
  }

  &.ql-toolbar button.ql-active {
    @apply text-blue-planning-200 bg-blue-planning-100;

    .ql-stroke {
      @apply stroke-current;
    }

    .ql-fill {
      @apply fill-current;
    }
  }

  .ql-stroke {
    @apply stroke-current;
  }

  .ql-fill {
    @apply fill-current;
  }

  a {
    @apply text-blue-planning-300;
  }

  &.ql-container {
    @apply border-gray-200 rounded-b-lg;
  }

  &.ql-toolbar {
    @apply border-gray-200 rounded-t-lg;
  }

  .ql-tooltip {
    @apply border-gray-200 rounded-lg;

    &.ql-editing input[type=text]{
      @apply text-input;
    }
  }
}

.raw_html {
  ol {
    list-style: revert;
    padding: revert;
  }
  ul {
    list-style: revert;
    padding: revert;
  }
  a {
    @apply text-blue-planning-300;
    text-decoration: underline;
  }
}

.center-container {
  @apply xl:container xl:mx-auto;
}

@layer components {
  .bare-modal {
    @apply bg-white w-[92vw] max-h-[90vh] overflow-auto rounded-t-lg p-6 sm:p-8;
  }
}

.modal {
  @apply max-w-screen-xl relative bare-modal;
}

.modal-banner {
  @apply -mx-4 sm:-mx-8 px-4 sm:px-8
}

.dialog {
  @apply max-w-md bare-modal;
}

.badge {
  @apply px-2 py-1 font-bold text-white rounded;
  font-size: 0.5rem;
}




.muuri.grid {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  .item {
    display: block;
    position: absolute;
    margin: 10px 0;
    z-index: 1;
  }
  .item.muuri-item-dragging {
    z-index: 3;
  }
  .item.muuri-item-releasing {
    z-index: 2;
  }
  .item.muuri-item-hidden {
    z-index: 0;
  }
  .item-content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  /**************************************************************************************
   *  PicSello specific
   **/
  .item .btn {
    position: relative;
    left: 85%;
    transform: translate(-30%, -100%);
    color: black;
    padding: 12px 24px;

    svg {
      filter: drop-shadow(3px 5px 2px rgba(0,0,0,0.4));
    }
  }

  .item .item-content img {
    background-color: gray;
    border-radius: 8px;
  }
}

/**
 * only used on photographer settings / gallery pricing
 **/
.grid {

  // all the variation cells get a top boarder...
  .contents.collapsed > * {
    @apply border-t;
  }

  // except the first one (after the headers)
  h3 + .contents.collapsed > * {
    @apply border-t-0;
  }

  // or the first one after an expanded one, on mobile
  .contents.expanded + .contents.collapsed > * {
    @apply border-t-0 sm:border-t;
  }

  // every other attribute row is blue in desktop
  .contents .contents:nth-child(odd) div {
    @apply sm:bg-blue-planning-100;
  }
}

.phx-click-loading {
  @apply animate-pulse cursor-wait;
}

@media (min-width: 640px){
  .muuri.grid {
    .item {
      margin: 10px;
    }
  }
}

@media (min-width: 640px) {
  .responsive-table {
    display: inline-table !important;

    thead tr:not(:first-child) {
      display: none;
    }

    thead tr {
      th:first-child {
        @apply rounded-l-lg;
      }
      th:last-child {
        @apply rounded-r-lg;
      }
    }

    tbody tr:nth-child(even) {
      @apply bg-blue-planning-100;
      td:first-child {
        @apply rounded-l-lg;
      }
      td:last-child {
        @apply rounded-r-lg;
      }
    }
  }
}

.responsive-table {
  td:not(:last-child) {
    @apply border-b-0;
  }

  th:not(:last-child) {
    @apply border-b-2 border-white sm:border-none;
  }
}
