@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply
      py-3
      px-4
      bg-blue-primary
      text-white
      font-medium
      rounded-lg
      border
      border-blue-primary
      hover:bg-blue-dark-primary
      focus:outline-none
      focus:ring-2
      focus:ring-blue-primary
      focus:ring-opacity-75
      disabled:bg-gray-disabled
      disabled:border-gray-disabled
     ;
  }
  .btn-secondary {
    @apply
      py-3
      px-4
      bg-white
      text-blue-primary
      font-medium
      rounded-lg
      border
      border-blue-primary
      hover:bg-gray-200
      focus:outline-none
      focus:ring-2
      focus:ring-blue-primary
      focus:ring-opacity-75
    ;
  }
}
