@import 'air-datepicker/air-datepicker.css';

.air-datepicker {
    --adp-accent-color: #4daac6;
    --adp-cell-background-color-selected: #4daac6;
    --adp-day-name-color: #4daac6;
    --adp-font-family: Be Vietnam,
        ui-sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
}

.air-datepicker-time--current-hours,
.air-datepicker-time--current-minutes {
    font-family: var(--adp-font-family)
}