@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-input {
    @apply
      focus:outline-none
      focus:border-blue-primary
      border
      rounded-lg
      p-3
    ;
  }
  .text-input-invalid:not(.phx-no-feedback) {
    @apply
      border-red-invalid
      bg-red-invalid-bg
      focus:border-red-invalid
    ;
  }
  .input-label {
    @apply
      text-sm
      font-semibold
      py-1
    ;
  }
  .input-label-invalid:not(.phx-no-feedback) {
    @apply
      text-red-invalid
    ;
  }
  .invalid-feedback.phx-no-feedback {
    display: none;
  }
}
