@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-input {
    @apply
      focus:outline-none
      focus:border-primary-blue
      border
      rounded-lg
      p-3
    ;
  }
  .text-input-invalid {
    @apply
      border-invalid-red
      bg-invalid-bg-red
      focus:border-invalid-red
    ;
  }
  .input-label {
    @apply
      text-sm
      font-semibold
      py-1
    ;
  }
  .input-label-invalid {
    @apply
      text-invalid-red
    ;
  }
}
