@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-input {
    @apply
      form-input
      placeholder-gray-400
      focus:ring-0
      focus:outline-none
      focus:border-blue-primary
      border
      border-gray-200
      rounded-lg
      p-3
    ;
  }
  .text-input-invalid:not(.phx-no-feedback) {
    @apply
      border-red-invalid
      bg-red-invalid-bg
      focus:border-red-invalid
    ;
  }
  .input-label {
    @apply
      text-sm
      font-semibold
      py-1
    ;
  }
  .input-label-invalid:not(.phx-no-feedback) {
    @apply
      text-red-invalid
    ;
  }
  .select {
    @apply
      form-select
      focus:ring-0
      focus:outline-none
      focus:border-blue-primary
      border
      border-gray-200
      rounded-lg
      p-3
  }
  .select-prompt {
    @apply
      text-gray-400
  }
  .select-invalid:not(.phx-no-feedback) {
    @apply
      border-red-invalid
      bg-red-invalid-bg
      focus:border-red-invalid
    ;
  }
  .invalid-feedback.phx-no-feedback {
    display: none;
  }
  .checkbox {
    @apply form-checkbox text-blue-primary focus:ring-1 focus:ring-blue-primary
  }
  .radio {
    @apply form-radio text-blue-primary focus:ring-1 focus:ring-blue-primary
  }
}
