.gallery__coverImg {
    height:223px;
    @apply bg-base-200
    bg-cover
    bg-center
    relative;
}

.gallery__coverImg.active::after{
    content: '';
    background: linear-gradient(180deg, rgba(31, 28, 30, 0) 25.56%, rgba(31, 28, 30, 0.6) 66.71%);
    @apply absolute
    top-0
    bottom-0
    left-0
    right-0
}

.gallery__container {
    max-width: 1440px;
    @apply my-0
    mx-auto
    h-full
    py-0
    px-16;
}

.photos__rect {
    background: linear-gradient(131.5deg, #F5F6F8 -0.97%, #EDEDED 100%);
    height: 170px;
    @apply rounded-lg
    flex
    w-auto
    max-w-full
}

.frame {
    width: 219px;
    height: 178px;
}

/*.preview {
    width: 603px;
    height: 650px
}*/

.productPreview__client > li > .productPreview_photo {
    @apply relative
    cursor-pointer
}

.productPreview__client > li > .productPreview_photo::before {
    content: '';
    background: linear-gradient(0deg, rgba(31, 28, 30, 0.65) 0%, rgba(31, 28, 30, 0.065) 100%);
    @apply absolute
    block
    top-0
    w-full
    h-full
    transition-all
    duration-300
    opacity-0
    z-10
    rounded-lg;
}

.productPreview__client > li > .productPreview_photo::after {
    content: 'View product';
    @apply absolute
    text-base-100
    text-center
    flex
    h-12
    items-center
    justify-center
    bottom-4
    left-1/2
    border
    border-base-100
    -translate-x-1/2
    p-4
    w-11/12
    transition-all
    duration-300
    opacity-0
    z-20
    rounded-lg;
}

.productPreview__client > li:hover > .productPreview_photo::before {
    @apply opacity-100;
}

.productPreview__client > li:hover > .productPreview_photo::after {
    @apply opacity-40;
}

.product-image{
    height: 70vh;
}

.settings__wrapper > div {
    @apply border-2
    border-solid
    border-base-200
    rounded-lg
    pt-4
    pr-6
    pb-6
    pl-9;
    max-width: 562px;
    background: linear-gradient(to right, #4DAAC6 17px, #EFEFEF 17px, #EFEFEF 19px, #FFFFFF 19px);
}

.settings__wrapper h3 {
    @apply text-blue-planning-300
    font-bold
    text-2xl
    pb-4;
}

.gallerySettingsInput {
    @apply w-full
    h-14
    bg-base-200
    border-2
    border-solid
    border-base-200
    rounded-lg
    p-4
    text-base
    text-base-250;
}

.gallerySettingsInput:focus {
    @apply border-2
    border-solid
    border-blue-planning-300
    text-base-300
    outline-none;
    box-shadow: 0 0 1px #4DAAC6;
}

.watermarkTypeBtn {
    @apply text-blue-planning-300
    font-bold
    text-base
    py-1.5
    px-4;
}

.watermarkTypeBtn.active {
    @apply text-base-300
    bg-blue-planning-100
    rounded-lg;
}

.customWatermarkPopup {
    max-height: 95vh;
    @apply bg-base-100
    overflow-y-auto
    mx-auto
    my-0;
}

.customWatermarkPopup .uploadingList__wrapper progress {
    @apply w-5/12;
}

.errorWatermarkMessage {
    background-color: rgba(225, 102, 47, .1);
    @apply rounded-lg;
}

.uploadingBlock {
    box-shadow: 0 14px 34px rgba(0, 0, 0, 0.15);
    @apply h-80
    w-80
    bg-base-100
    rounded-xl
    mt-14
    pt-4
    px-6
    pb-9
    text-base-350;
}

.reuploadingBlock {
    box-shadow: 0 14px 34px rgba(0, 0, 0, 0.15);
    @apply bg-base-100
    h-12
    w-80
    text-base-350
    mt-14
    pt-3.5
    px-6
    pb-9
    rounded-3xl;
}

.uploadingBlock > p {
    @apply text-2xl;
}

.uploadingBlock .dragDrop__wrapper {
    @apply border-2
    border-dashed
    border-blue-planning-300
    rounded-lg
    w-full
    h-48;
}

.circleBtn {
    @apply relative
    left-0
    text-2xl
    font-bold
    text-right;
    max-width: 50px;
}

.circleBtn ul {
    max-width: 75px;
    @apply pb-0
    m-0
    list-none;
}

.circleBtn ul:after {
    content: "";
    @apply block
    clear-both;
}

.circleBtn svg {
    @apply py-3.5
    -m-5
    text-center
    absolute
    z-10
    no-underline
    box-border
    left-4;
    bottom: 1.1rem;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 5) 33%, rgba(255, 255, 255, 1) 33%);
}

.circleBtn ul li {
    @apply bg-base-100
    p-0
    w-auto
    text-center
    overflow-hidden
    float-left
    rounded-full;
    box-shadow: 0 14px 34px rgba(0, 0, 0, 0.15);
}

.circleBtn ul li a {
    @apply relative
    block
    py-1.5
    px-4;
    min-width: 50px;
}

.circleBtn ul span {
    @apply relative
    z-10
    mr-0
    pr-0
    whitespace-nowrap
    inline-block
    w-auto
    opacity-0
    text-base-300
    text-center
    text-2xl
    max-w-0
    pb-1.5
    no-underline
    box-border
    align-top
    transition-all
    duration-300
    text-base-300;
}

.circleBtn li:hover {
    @apply cursor-pointer;
}

.circleBtn li:hover span {
    @apply mr-0
    opacity-100
    w-auto
    pl-8;
    max-width: 500px;
}

.bottomBar {
    @apply fixed
    bottom-0
    left-0
    right-0
    w-full
    bg-base-300
    z-10
    opacity-95
    h-32;
    box-shadow: 0 -14px 34px rgba(0, 0, 0, 0.15);
}

.bottomBar__btn {
    @apply text-base-100
    font-semibold
    text-center
    cursor-pointer
    flex
    items-center
    border
    border-solid
    border-base-100
    rounded-lg
    text-lg
    px-6
    py-4;
}

.bottomBar__btn.btn-secondary {
    @apply border-base-100;
}

.bottomBar__btn.btn-secondary:hover {
    @apply text-base-100;
}

.galleryItem .likeBtn {
    @apply opacity-0
    absolute;
}

.galleryItem:hover .removeBtn,
.galleryItem:hover .likeBtn {
    @apply opacity-100;
}

.galleryItem:hover img {
    @apply bg-transparent !important;
}

.galleryItem img {
    @apply object-cover;
}

.galleryItem:before {
    content: '';
    background: linear-gradient(0deg, rgba(31, 28, 30, 0.65) 0%, rgba(31, 28, 30, 0.065) 100%);
    @apply absolute
    block
    top-0
    w-full
    h-full
    transition-all
    duration-300
    opacity-0
    z-10
    rounded-lg;
}

.galleryItem:hover:before {
    @apply opacity-100;
}

.removeBtn {
    @apply opacity-0
    left-4
    bottom-4
    z-10;
}

.likeBtn {
    @apply right-4
    bottom-3
    z-10;
}

.likeBtn img {
    @apply bg-transparent !important;
}

.editProductPopup {
    @apply
    box-border
    h-full
    w-full;
}

.editProductPopup__img {
    background: linear-gradient(131.5deg, #F5F6F8 -0.97%, #EDEDED 100%);
}

.editProductPopup__content {
    max-height: 90%;
}

.errorPwdMsg ~ div > .relative input {
    @apply border
    border-solid
    border-red-error-300
    rounded-lg
}

.mobileGalleryButtons a {
    @apply inline-block
    w-full
    h-full;
}

.gridTemplateOrder {
    grid-template-columns:110px minmax(80px, 1fr) auto
}

.productType:first-letter {
    text-transform: uppercase;
}

.customSelect select {
    @apply text-base-300
    appearance-none
    border-0
    rounded-none
    w-full
    bg-transparent
    px-4
    h-11
    focus:outline-none
    cursor-pointer
}

.customSelect {
    @apply
    w-full
    inline-block
    border
    border-solid
    border-base-200
    rounded-lg
    relative
    overflow-hidden
    h-11
}

.customSelect::after {
    content: '';
    background: url('/images/chevron-thin-right.svg') no-repeat;
    width: 16px;
    height: 9px;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-25%);
}

.customInvalidOption,
.customInvalidOption option {
   @apply text-base-300
}

.customInvalidOption:invalid,
.customInvalidOption option[value=""] {
   @apply text-base-250
}

.cartItemsAmount {
    font-size: 10px;
    line-height: 15px;
    width: 16px;
    height: 16px;
}

.darkerBorder {
    border: 1px solid #C9C9C9;
    @apply rounded-lg
}

.deliveryOptions__wrapper input[type="radio"]{
    @apply appearance-none
    h-5
    w-5
    bg-base-100
    border
    border-blue-planning-300
    rounded-full
    cursor-pointer
    inline-flex
    items-center
    justify-center
    outline-none
    box-border

}

.deliveryOptions__wrapper input[type="radio"] label{
    @apply text-green-finances-300
}

.deliveryOptions__wrapper input[type="radio"]:after{
    content: "";
    @apply h-3
    w-3
    rounded-full
    bg-blue-planning-300
    hidden
}

.deliveryOptions__wrapper input[type="radio"]:checked:after{
  @apply inline-block
}

.shippingOptions__infoBlock {
    max-width: 100%;
}

@media screen and (min-width: 1280px) {
    .editProductPopup {
        width: 95vw;
        max-width: 1440px;
        height: 95vh;
        max-height: 894px;
    }

    .shippingOptions__infoBlock{
        max-width: 835px;
    }
}

@media screen and (min-width: 1024px) {
    .editProductPopup__content {
        height: 754px;
        max-height: 89%;
    }
}

@media screen and (max-width: 640px) {
    .circleBtn ul li a {
        min-width: 40px;
    }

    .circleBtn img {
        @apply pl-2.5;
    }

    .gallery__container {
        @apply px-4;
    }

    .settings__wrapper > div {
        background: linear-gradient(to right, #4DAAC6 12px, #EFEFEF 12px, #EFEFEF 15px, #FFFFFF 15px);
        @apply pl-8
        pr-4;
    }

    .editProductPopup {
        width: 95vw;
        max-width: 1440px;
        height: 95vh;
        max-height: 894px;
    }
}

@media screen and (min-width: 640px) {
    .photos__rect {
        height: 300px;
    }

    .gallery__coverImg {
        height: 400px;
    }
}

@media screen and (max-width: 1024px) {
    .choose-product {
        @apply grid
    }

    .choose-product-item {
       @apply w-full
    }
}

@media screen and (min-width: 1024px) {
    .choose-product {
        @apply flex
    }

    .customWatermarkPopup {
        max-height: 950px;
    }

    .choose-product-item {
        @apply w-1/2
    }

  /*  .preview {
        width: 603px;
        height: 650px;
    }*/

    .gallery__coverImg {
        height: 566px;
    }

    .gallery__coverImg.active::after {
        background: linear-gradient(270deg, rgba(31, 28, 30, 0.7) 0%, rgba(31, 28, 30, 0) 100%);
    }
}

