.cartImg {
    max-width: 250px;
    @apply w-full
    max-h-full
    overflow-hidden
}

.cartImg img {
    height: 193px;
    @apply w-auto
}

.shippingOptions__infoBlock  select{
    @apply w-full
}

.gridWrapper {
    @apply grid-cols-3
}

.subTotal {
    @apply hidden
}

@media screen and (max-width: 1280px) {
    .gridWrapper {
        @apply grid-cols-1
    }

    .subTotal {
        @apply block
    }
}

@media screen and (max-width: 768px) {
    .cart {
        @apply relative
    }

    .cartImg {
        max-width: 165px;
        @apply pb-20
    }

    .cartPanel {
       @apply absolute
        bottom-5
        left-0
        right-0
        w-full
    }

    .cartImg img {
        height: 132px;
    }
}
