<div>
        <%#= live_component PicselloWeb.GalleryLive.ClientMenuComponent, live_action: @live_action %>
    <hr>
    <div class="pt-5 lg:pt-9 px-6 lg:px-14 max-w-screen-xl mx-auto">
    Hi there

    </div>
</div>



