<div
  style="background-color: lime; height: 566px"
>Cover</div>
<div
  style="background-color: light-gray; height: 70px; border-bottom: 1px solid gray;"
>Menu line</div>


<div
  class="masonry hidden"
  phx-hook="MasonryGrid"
  id="client-gallery-grid"
>
<%= for image <- @images do %>
  <div class="item">
    <img src="<%= image %>" />
  </div>
<% end %>
</div>