<div
  class="masonry"
  data-masonry='{ "itemSelector": ".item", "columnWidth": 309, "gutter": 20 }'
  phx-hook="MasonryGrid"
  id="client-gallery-grid"
>
<%= for image <- @images do %>
  <div class="item">
    <img src="<%= image %>" />
  </div>
<% end %>
</div>