<div>
  <div class="relative opacity-100 bottomBar_gallery">
  <div class="flex items-center justify-end gallery__container">
    <div class="flex">
      <button class="mr-3">
      <span class="pl-3 mr-3 text-white">Preview gallery</span>
      </button>
      <button class="font-sans bottomBar_gallery__btn" phx-click="client-link">Share gallery</button>
    </div>
  </div>
  </div>
</div>