<div>
  <div class="fixed opacity-100 bottomBar_gallery">
  <div class="flex items-center justify-end gallery__container">
    <div class="flex">
      <a href={@url} target="_blank" class="flex mr-3 items-center">
        <span class="pl-3 mr-3 text-white">Preview Gallery</span>
      </a>
      <button class="bottomBar_gallery__btn" phx-click="client-link">Share gallery</button>
    </div>
  </div>
  </div>
</div>