<div class="p-5 border rounded-lg flex mb-5"> 
  <div class="cartImg">
    <img src="/images/frame_transparency.png"/>
  </div>
  <div class="ml-7 py-7">
    <div class="text-lg">Digital download</div>
    <div class="text-2xl font-bold mt-2.5 mb-9">1 credit - $0.00</div>
    <div class="flex items-center">
      <button type="button" class="text-xl font-semibold text-blue-planning-300">Delete</button>
    </div>
  </div>
</div>